

<ion-content [fullscreen]="true">
    <div class="android-large">
        <div class="div">
            <img class="logo-inteiro-sbmc"
                src="../../assets/images/logo-inteiro-sbmc.png" />

                <div class="input">
                    <ion-list>
                    <ion-item>
                        <ion-input label="Login:" placeholder="Entre com Login"></ion-input>
                      </ion-item>

                      <ion-item>
                        <ion-input label="Senha:" placeholder="Entre com a Senha"></ion-input>
                      </ion-item>
                    </ion-list>
                </div>

            <div class="rectangle"></div>
            <p class="a-capoeira-para">“A capoeira é para todos<br />mas nem
                todos são para a capoeira”</p>
            <div class="text-wrapper-2">Mestre Bimba</div>
            <button class="button">
                <button class="btn-master-normal"><div
                        class="label-2">LOGIN</div></button>
            </button>
            <div class="btn-master-normal-2"><div
                    class="label-3">VISITANTE</div></div>
        </div>
    </div>
</ion-content>
