

<ion-content [fullscreen]="true">
    <div class="android-large">
        <div class="div">
            <img class="logo-inteiro-sbmc"
                src="../../assets/images/logo-inteiro-sbmc.png" />

            <form action>
                <div class="input">
                    <ion-list>
                        <ion-item lines="none">
                            <ion-input class="item-login" label="Login"
                                label-placement="floating" fill="outline"
                                placeholder="Entre com o Login"></ion-input>
                        </ion-item>

                        <ion-item lines="none">
                            <ion-input label="Senha" label-placement="floating"
                                fill="outline"
                                placeholder="Entre com a Senha"></ion-input>
                        </ion-item>
                    </ion-list>
                </div>

                <div class="rectangle"></div>
                <p class="a-capoeira-para">“A capoeira é para todos<br />mas nem
                    todos são para a capoeira”</p>
                <div class="text-wrapper-2"><span>Mestre Bimba</span></div>
                <button class="button"
                    (click)="logIn('wagfreutas@hotmaiul.com', '12345678')">
                    <button class="btn-master-normal"><div
                            class="label-2">LOGIN</div></button>
                </button>
                <div class="btn-master-normal-2"><div
                        class="label-3">VISITANTE</div>
                </div>
            </form>
            </div>
        </div>
    </ion-content>
