


ion-item:hover {
    --ion-item-background: #FFF756;
    cursor: pointer;
}

.menu-tittle {
    --background: #171717;
    --color: #fff756;
}

.header {
    --background: #171717;
    --color: #FCDF09;
}

.logo-tipo {
    font-family: "ZenAntique";
    letter-spacing: -1.6px;
}