<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar class="menu-tittle">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>Perfil</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Academias</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Rodas e Eventos</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Mensalidade</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Fechar Menu</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Desconectar</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="header">
      <ion-title class="logo-tipo">SBMC</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
</div>