
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">


  <div id="container">
    <ion-img src="/sbmc/src/assets/imagens/logo-inteiro-sbmc.png">
    </ion-img>

    <div id="login-senha-container">
      <ion-input label="Usuário" label-placement="floating" fill="solid" placeholder="Enter text" id="login-senha" ></ion-input>
      <ion-input label="senha" type="senha" label-placement="floating" fill="solid" placeholder="Enter text" id="login-senha"></ion-input>
    </div>
    <ion-button id="button-login">Login</ion-button>
    <ion-button id="button-visitante">visitante</ion-button>
    

  </div>

</ion-content>