<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p>
    <ion-button>Default</ion-button>
    <ion-button fill="clear" color="secondary">Clear</ion-button>
    <ion-button fill="outline">Outline</ion-button>
    <ion-button fill="solid" color="secondary">Solid</ion-button>

  </div>

</ion-content>