

<!DOCTYPE html>
<ion-content [fullscreen]="true">

    <div class="android-large">
        <div class="div">
          <img class="logo-inteiro-sbmc" src="../../assets/images/logo-inteiro-sbmc.png" />
          <div class="rectangle"></div>
          <p class="text-wrapper">
            “Capoeirista não é aquele que sabe movimentar o corpo, e sim aquele que se deixa movimentar pela alma”
          </p>
          <div class="text-wrapper-2">Mestre Pastinha</div>
          <div class="btn-master-normal"><div class="label">VISITANTE</div></div>
          <button class="button">
            <button (click)="login()"  class="btn-master-normal-2"><div class="label-2">LOGIN</div></button>
          </button>
        </div>
      </div>

</ion-content>
